@import '../../../styles/settings.scss';

.headerContainer {
  position: fixed;
  z-index: 15;
  width: 100%;
  background-color: white;

  .logoContainer {
    margin: 15px 0;
    height: 50px;
    display: flex;
    justify-content: center;
  }
}


