.cartContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .productContainer {
    max-width: 1000px;
    width: 100%;
    display: flex;
    margin-top: 100px;

    .description {
      p {
        span {
          margin: 0 3px;
        }
      }
    }
  }
}
