$color-primary: #452629;
$color-secondary: #de127a;
$color-secondary-opacity: rgb(222, 18, 123, 0.8);

$color-bg-primary: #fff;
$color-star: rgb(218, 165, 32);
$color-accept: #a7c957;

$color-text: $color-primary;
$color-text-dark: #1b1b1b;
$color-text-light: #1d1d1f66;
$color-text-bright: #fff;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$font-brand-name: 'Great Vibes', cursive;

$radius: 5px;
$base-size: 14px;

$transition: 0.5s;
